aniso8601==6.0.0
Click>=8.0
# upgrading from 1.0.3 to 2.1.2 to fix bug from jinja2 import Markup, escape
Flask==2.1.2
# upgrading from 3.0.7 to 3.0.10 to fix bug module 'collections' has no attribute 'Iterable'
Flask-Cors==3.0.10
Flask-RESTful==0.3.7
# upgrading to from 2.4.0 to 2.1.2 to fix bug 'LocalStack' object has no attribute '__ident_func__'
Flask-SQLAlchemy==2.5.1
# i added this  as it seems the local project and the psql script dont match, need to migrate to change relations
Flask-Migrate==3.1.0
# flask requirement
itsdangerous==2.0
# upgrading from 2.10.1 to 3.1.2 to fix bug mappiing from collections bug
Jinja2==3.1.2
# flask requirement
MarkupSafe>=2.0
# upgrading form 2.8.2 to 2.9.3 to fix legacy-install-failure
psycopg2-binary==2.9.3
pytz==2019.1
six==1.12.0
SQLAlchemy==1.3.4
# flask requirement
Werkzeug>=2.0
python-dotenv==0.20.0
